<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Portal</title>
    <div id="div1">
        <header id="header1"
            style="border: solid 2px; text-align: center; font-weight: bold; font-size: 50px; color:#7c00c4;"> Project
            Portal</header>
    </div>
</head>

<body style="background-color:#000000;">
    <div id="div2" style="border: solid 2px; margin-top: 5px; padding: 5px; ">
        <p id="p1" style="color:#7c00c4;">Our game called <a href="www/index.html"> Project Portal</a> is an ongoing
            project where... </p>
    </div>
    <div><img src="portal2.gif" alt="" width="1506" height="600"></div>
    <div id="linkDiv" style="border: solid 2px; margin-top: px; padding: 5px;">
        <p id="links" style="color:#7c00c4;">
            Contributors Github's: <br>
            <a href="https://github.com/APlitt24235">Alex Plitt</a>
            <br>
            <a href="https://github.com/luke24279">Luke Thompson</a>
            <br>
            <a href="https://github.com/Logan-cruz">Logan Cruz</a>
            <br>
            <a href="https://github.com/David24461">David Seifert</a>
            <br>
            <a href="https://github.com/Beckh24469">Beckam Philips</a>
            <br>
            <a href="https://github.com/Logan24057">Logan Danner</a>
        </p>
    </div>
</body>

</html>